body {
  font-family: 'Heebo', sans-serif;
  color: #2f2f2f;
  line-height: 22pt;
  text-align: center;
  font-size: 1.1em;
}

p {
  line-height: 2em;
}


#back {
  width: 80px;
  font-weight: bold;
  position: absolute;
  left: 80px;
  top: 80px;
}

a {
  text-decoration: none;
  color: #2f2f2f;
}

a:hover {
  color: white;
  transition: .3s;
}

span {
  font-weight: bold;
  color: #ed451a;
}

#red {
  color: white;
}

#original {
  display: inline-block;
  float: left;
}

#edited {
  display: inline-block;
  float: right;
  opacity: 0.5;
  filter: alpha(opacity=50)
}

#mockup {
  display: block;
  float: right;
}

h1 {
  color: #2f2f2f;
  font-size: 1.4em;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

.box {
  background-color: #ed451a;
  padding: 80px 15%;
  overflow: auto;
}

.box2 {
  padding: 80px 15%;
  overflow: auto;
  background-color: rgba(0,0,0,.05);

}

.box3 {
  padding: 80px 15%;
  overflow: auto;
}

.box4 {
  background-color: white;
  margin: 80px 15%;
  padding-bottom: 80px;
  border-bottom: 1px solid gray;
  margin-bottom: 0;
  overflow: auto;
}

.box5 {
  background-color: #ed451a;
  padding: 80px;
  overflow: auto;
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  padding: 0px;
  line-height: 24pt;
}

.problem {
  font-size: 1.3em;
  color: #ffffff;
  top: 200px;
  left: 220px;
  width: 400px;
  position: absolute;
  text-align: left;
  line-height: 2em;
}

.users {
  text-align: center;
  width: 250px;
  display: flex;
  float: left;
  margin: 0 20px;
}

.restaurants {
  text-align: center;
  display: inline-block;
  width: 250px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.doordash {
  text-align: center;
  display: inline-block;
  width: 250px;
  float: right;
  margin: 0 20px;
}

#table {
  position: relative;
  margin: auto;
  left: -50px;
  float: left;
}

.process {
  text-align: right;
  padding-left: 50px;
  float: left;
}

.tools {
  text-align: left;
  padding-right: 50px;
  float: right;
}

.processtools {
  background-color: pink;
  width: 400px;
  margin: 0 auto;
}

.prices {
  width: 300px;
  float: left;
  padding: 20px 0px 0px 15%;
  padding-top: 20px;
}

.ratings {
  width: 300px;
  float: right;
  padding: 20px 15% 0px 0px;
  padding-top: 20px;
}

.rationale {
  text-align: left;
  float: right;
}

#wireframe {
  display: block;
  float: left;
  margin-top: 60px;
  margin-right: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 30px;
}

.left {
  text-align: left;
}

#expensive, #star {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
