body {
  font-family: 'Heebo', sans-serif;
  margin: 120px;
  background-color: #f2f2f2;
  position: relative;
}

.mainpage{
  margin: auto;
  max-width: 1000px;
}

a {
  text-decoration: none;
}

.intro {
  overflow: auto;
  width: 1000px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 80px;
}

.intro-right {
  float: right;
  width: 500px;
  overflow: auto;
}

.projects-container {
  display: grid;
  grid-template-columns: 485px 485px;
  grid-gap: 20px;
}

#linkedin {
  position: fixed;
  bottom: 20px;
  right: 100px;
}

#file {
  position: fixed;
  bottom: 60px;
  right: 105px;
}

#kins {
  border: 1px solid #d8d8d8;

}

#opening {
  float: right;
  clear: both;
  width: 480px;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.8em;
}


h2 {
  font-size: 1.3em;
  text-align: center;
  font-weight: 700;
  /* color: #2f2f2f; */
  line-height: 24pt;
}

p {
  text-align: center;
  color: lightgrey;
}

.ov-hashtag {
  text-align: center;
  color: white;
}

h3 {
  transform: rotate(-90deg);
  position: absolute;
  left: 60px;
}

#name {
  position: absolute;
  top: 15px;
  left: -65px;
}

#projects {
  position: absolute;
  top: 285px;
  left: -50px;
}

#kpcb {
  border-top: 15px solid #ed451a;
}

#airbnb {
  border-top: 15px solid #ff5a5f;
}

#nasa {
  border-top: 15px solid #0b3d91;
}

#whatsapp {
  border-top: 15px solid #25D366;
}


.container {
  position: relative;
  width: 25%;
  padding-left: 10px;
  height: 150px;
  background-color: white;
  border: 1px solid #d8d8d8;
  color: #2f2f2f;
  padding: 60px;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  width: 360px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #ed451a;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

#ov-airbnb{
  background-color: #ff5a5f;
}

#ov-nasa {
  background-color: #0b3d91;
}

#ov-whatsapp {
  background-color: #25D366;
}

.wtext {
  color: white;
  position: absolute;
  width: 50%;
  left: -5px;
  top: -5px;
  padding-left: 10px;
  height: 150px;
  padding: 60px;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  width: 360px;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

#kpcb:hover, #airbnb:hover, #whatsapp:hover, #nasa:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.copyright {
  position: relative;
  bottom: -50px;
}
